body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#ismo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#scrollingText {
    max-width: 500px;
    overflow-y: scroll;
    text-align: center;
    height: 60vh;
    padding-bottom: 3vh;
}

#scrollingText p {
    margin: 8px;
    opacity: 1;
    transition: opacity 1s;
}

#userInputContainer {
    padding-top: 7vh;
    display: flex;
    align-items: center;
}

#userInput {
    flex: 1;
    margin-right: 8px;
}

#gxb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#gxbDataInput {
    height: 250px;
}

#gxbButtonsContainer {
    margin: 15px 10px;
}

#otb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#dbq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

#fho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*height: 100vh;
    margin: 300px 0px 10px 0px;*/
    padding: 10px;
    width: 100%;
}