body {
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#scrollingText {
    max-width: 500px;
    overflow-y: scroll;
    text-align: center;
    height: 60vh;
    padding-bottom: 3vh;
}

#scrollingText p {
    margin: 8px;
    opacity: 1;
    transition: opacity 1s;
}

#userInputContainer {
    padding-top: 7vh;
    display: flex;
    align-items: center;
}

#userInput {
    flex: 1;
    margin-right: 8px;
}

#dataInput {
    margin-top: 50px;
}