body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.eyl-container-horz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.eyl-container-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fnj {
    justify-content: space-between;
    width: 100%;
}

#qav {
    padding: 10px;
}

#qav textarea {
    height: 20px;
    margin: 10px;
}

#cst textarea {
    height: 20px;
    width: 80px;
    margin: 10px;
}

#fho {
    flex-wrap: wrap;
}

#gxb {
    padding: 10px;
}

#gxbDataInput {
    height: 250px;
}

#gxbButtonsContainer {
    margin: 15px 10px;
}

#otb {
    padding: 10px;
}

#dbq {
    padding: 10px;
    order: 3;
}

@media (max-width:740px) {
    #dbq {
        order: 0;
    }
}

